* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@keyframes slideInFromBottom {
    from { transform: translateY(15px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
    }

.container-dashboard{   
    border: none;
    margin-top: -4rem;
    
}

.row-dashboard{
    display: flex;
    flex-direction: row;
    margin-right: 1rem;
    padding: 1rem;
    justify-content:space-around;

}

.card-box-header{
    width: 9.5rem;
    justify-content: space-evenly;
    min-height: 5rem;
    height: 9.5rem;
    border: 1px solid rgb(248, 248, 248);
    animation: 0.5s ease-out 0s 1 slideInFromBottom;
    border-radius: 0.6rem;
    margin-left: 1rem;
    margin-top: 0rem;
    
    
}

.card-box-header::before{
    transform: translateY(-5px);   
    border-bottom: 5px solid #E4181D;
    transition: all .2s ease;
    
}

.card-box-header:hover{
    transform: translateY(-5px);   
    
   
    transition: all .2s ease;
    
}

.card-box-header.active{
    box-shadow: inset 0px 5px 5px rgba(0,0,0,.15); 
    border-bottom: 5px solid #E4181D;
    color: #E4181D;
    transform: translateY(7px);
};

.geral{    
    padding: 0;
    margin:0;
    
    
}

.maquina {
    margin-left: 1rem;
    margin-top: -2rem; 
    padding-top: 0.5rem;
    display: flex;
    padding-bottom: 2.2rem;
  
    width: 95%;
    z-index: -5;
}

.maquina #id{
    margin-left: -1.4rem;
    border-top: 1px solid lightgrey;
    display: inline-flex;
   text-align: right;
    flex: 5%;
    border: none;
    justify-content: right;
    place-items: top;
}



.maquina #parametros{
    margin-left: 1.5rem;
   border-radius: 25px 15px 15px 25px;
    flex: 85%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   box-shadow: inset 0px 1px 5px rgba(0,0,0,.15); 
   
   padding-right: 1rem;
   padding-top: 0.5rem;
  
}


.nome{
    margin: 0.5rem;
   
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    height: 5rem;
    width: 8rem;
    place-self: center;
    border-radius: 0px 5px 30px 0px ;
    background: #E4181D;
    color: white;
    padding-right: 0.5rem;
    justify-content: left;
    text-align: left;
    padding-left: 0.5rem;
}

.maquina #parametrosChart{
    width: 20rem;
    height: 9rem;
    margin-right: 1rem;
    padding: 0.5rem
}