.container-header {
    background-color: #E4181D;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-right: 4rem;
    font-size: calc(4px + 2vmin);
    color: white;
    border-radius: 0px 0px 0px 50px;
    padding-top: 2rem;
    box-shadow: inset 0px 5px 5px rgba(0,0,0,.15); 
    box-shadow: 0px 10px 20px rgba(0,0,0,.25);
    margin-bottom: 10rem;
    margin-top: -15rem;
  }

  .row-header{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-left: 3rem;
  }

  .selectedmaquina{
      margin-top: -2rem;
      padding-right: 1.2rem;
  }