.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
  border-radius: 0px 0px 0px 50px;
}

.App-link {
  color: #61dafb;
}

.row.dropdown {
  margin-top: 10rem;
  text-align: right;
  cursor: pointer;
}
.container-label {
  display: flex;
  flex-direction: row;
}

.label {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  background-color: #e4181d;
  color: white;
  border-radius: 2rem 0rem 0rem 2rem;
  height: 3rem;
  padding: 1rem;
  text-align: end;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input:checked[type="checkbox"] {
  background-color: red;
}

.row-main {
  display: flex;
  width: 100%;
  height: 100%;
}

.row-main #left {
  margin-top: -3rem;
}

.row-main #main {
  flex: 70%;
}
