
.App {
    text-align: center;
    height: 100vh;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    
    font-size: calc(10px + 2vmin);
    color: white;
    border-radius: 0px 0px 0px 50px;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  .row.dropdown{
    margin-top: 10rem;
    text-align: right;
    cursor: pointer;
  }
  .container-label{
    display: flex;
    flex-direction:row;
  
  }
  
  .label{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    background-color: #E4181D ;
    color: white;
    border-radius: 2rem  0rem 0rem 2rem ;
    height: 3rem;
    padding: 1rem;
    text-align: end;
  }
  
  
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  input:checked[type="checkbox"]{
    background-color:red;
  }
   
  