* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.sidebar {
  height: 100vh;
  width: 250px;
  background: #bbbaba;
  color: gray; 
  overflow-y: scroll;
}
.sidebar::-webkit-scrollbar {
  display: none;
}

.logo-before {
  min-height: 10.5vh;
  background: #e4181d;
}

.logo {
  padding: 50px;
  height: 10vh;
  background: #bbbaba;
  border-radius: 0px 25px 25px 0px;
  margin-top: -4.5rem;
  z-index: 2;
  margin-bottom: 4rem;
}
.sidebar-menu {
  border-radius: 0px 50px 0px 0;
  background: #ffffff;
  height: 100%;
  margin-top: -6.5rem;
  padding-top: 4rem;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.15);
}
.sidebarList {
  margin: 0;
  padding: 0;
  padding-top: 3rem;
  height:fit-content;
  width: 100%;
  z-index: 3;
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
  overflow-y: scroll;

}

.sidebarList::-webkit-scrollbar {
  display: none;
}

.sidebarList .row {
  border-top: 1px solid rgb(221, 221, 221);
  margin: 0;
  width: 100%;
  height: 5vh;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}

.sidebarList .row.active {
  background: #e7e6e6;
  color: #e4181d;
  border-left: 8px solid #e4181d;
}

.sidebarList .row:hover {
  background: #ffffff;
  border-left: 8px solid #e4181d;
  color: #e4181d;
  cursor: pointer;
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
}

.row #icon {
  flex: 25%;
  display: grid;
  place-items: center;
  justify-content: right;
  color: black;
}
.row.active #icon {
  color: #e4181d;
}

.row #title {
  flex: 75%;
  text-align: left;
}

.sidebarList-exit {
  border-top: 1px solid rgb(221, 221, 221);
  list-style-type: none;
  padding-top: 3rem;
  margin-top: 0rem;

  text-align: center;
  justify-content: center;
 
}

.exit {
  display: inline-flex;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50px 50px;
  color: white;
  justify-content: center;
  place-items: center;
  margin-left: -2rem;
  margin-bottom: -1rem;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
  background: #e4181d;
}

.exit:hover {
  background: #bbbaba;
  cursor: pointer;
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.25);
  color: #e4181d;
}
