.container-subheader {
    margin-top: -1.5rem;
    background-color: #bbbaba;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-right: 4rem;
    font-size: calc(4px + 2vmin);
    color: white;
    border-radius: 0px 0px 0px 50px;
    padding-top: rem;
    box-shadow: inset 0px 5px 5px rgba(0,0,0,.15); 
    box-shadow: 0px 10px 10px rgba(0,0,0,.15);
    margin-bottom: 15px;
  }

  .row-subheader{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-left: 3rem;
  }
  .time{
    font-size: medium;
    margin-top: 9rem;
    
    border-radius: 15px;
    display: inline-flex;
    justify-content: space-between;
  }
  .horas{
    color: #E4181D;
    margin-left: 10px;
  }

  .buttons{
      font-size: medium;
      margin-top: 8rem;
      height: 2.5rem;
      border-radius: 15px;
      display: inline-flex;
      justify-content: space-between;
  }
  button.dia{
      width: 4rem;
      padding: 0.5rem;
      
    border: 1px solid white;
    background-color: #bbbaba;
    border-radius: 25px 0 0 25px ;
    color: rgb(92, 92, 92);
    border-right: none;
  }
  button.semana{
      width: 5rem;
      border: 1px solid white;
      border-left: none;
      border-right: none;
      background-color: #bbbaba;
      color: rgb(92, 92, 92);
    }
    button.mes{
        width: 4rem;
        border: 1px solid white;
        background-color: #bbbaba;
        border-left: none;
        border-radius: 0px 25px 25px 0px ;
        color: rgb(92, 92, 92);
        
    }
    button.active {
      box-shadow: inset 0px 5px 5px rgba(0,0,0,.15); 
      background-color: #E4181D;  
      color: rgb(255, 255, 255);
    };
    
    
    h5.horas{
      margin-left: 1rem;
      color: #E4181D;
    }
    
    button.erros{
      width: 7rem;
          
      border: none;
      background-color: #000000;
      border-radius: 25px 25px 25px 25px ;
      color: white;
      border-right: none;
    }

    button.configurar{
      width: 7rem;
      margin-left: 0.5rem;
      border:none;
      background-color: white;
      border-radius: 25px 25px 25px 25px ;
      color: E4181D;
      border-right: none;
    }
    
    button:hover{
      background-color: white;
      color: #E4181D
    }
    button.erros:hover{
      color: white;
      background-color: #E4181D;
      
    }
    button.configurar:hover{
      color: white;
      background-color: #E4181D;

    }
    .modal-header{
      padding-left: 2rem;
      background-color: #E4181D;
      color: white;
    }
    .modal-header.button{
       color: white;
    }
    
    .erro{
      width: 610px;
      margin-left: 1rem;
      background-color: rgb(248, 248, 248);
      border-radius: 15px;
      margin-bottom: 5px;
    }
    .codigo{
      text-align: center;
      font-weight: bold;
      display: block;
      margin-left: 0.5rem; 
      background-color: #5a5b68;
      color: white;
      border-radius: 15px;
      margin-bottom: 5px;
    }
    .cab{
      background-color: #5a5b68;
      margin-left: 0.6rem;
      display: flex;
      justify-content: center;
      margin-top: 0;
      padding-right: 1rem;
      border-radius: 15px;
      color: white;
      margin-bottom: 1rem;
    }
    .linha{
      margin-top: 1rem;
      padding-left: 1rem;
      text-align:left;
      color: gray;     
    }
    

    .guardar{
      margin-top: 2.5rem;
    }