@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}



.main_box_login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    margin-left: -5rem;
    
  }
  
  /* Header */
  .main_box--header_login{   
      display: block; 
      margin-left: 0rem;
    width: 100%;
    text-align: center;

  }
  .main_box--header_login h2{
    color: rgb(255, 255, 255);
    font-size: 32px;
  }
  .main_box--header_login p{
    color: #ccc;
    font-size: 20px;
    
  }
  
  /* Main */
  .main_box--main_login{
    width: 280px;
    height: auto;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0,0,0,.25);
  }
  .main_box--main--title_login{    
    width: 100%;
    height: 185px;
    background: rgb(250,250,250);
    padding: 25px;
    border-radius: 20px 20px 0px 0px  ;
    text-align: center;
   
  }
  .main_box--main--login_login{
    margin: 0;
   
    height: 275px;
    background: rgb(224, 223, 223);
  display: flex; 
  flex-direction: column;
  flex-basis: 1px;
    border-radius: 0px 0px 20px 20px;
  }

  .row-login{
    padding: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 1.7rem;
  }
  .row-login.password{
    margin-top: -1rem;
  }
  
  .row-login i{
    margin-top: 1rem;
  }
  .row-login input{
    margin-top: -5rem;
  }

  .main_box--main--signUp_login{
    padding: 10px;
    width: 100%;
    height: 250px;
    background: rgb(200, 200, 200);
    box-shadow: inset 0px 5px 5px rgba(0,0,0,.15); 
    border-radius: 0px 0px 7.5px 7.5px;
  }
  .row-login input,
  .main_box--main--signUp_login input{
    margin: 10px 6px ;
    border-radius: 1rem;
    border-color: none;
    border: none;
    height: 2rem;
    padding-left: 1rem;
    width: 80%;
  }
  
  .row-login button{
    width: 50%;
    justify-content: center;
    background-color: #E4181D;
    color: white;
    text-align: center;
    border: none;
    margin: 1px 0px;
    padding: 7.5px;
    width: 40%;
    cursor: pointer;
    border-radius: 3rem;
  }

  .row-login button:hover{
    font-weight: bold;
    color: #E4181D;
    background: white;
  }

  .page-enter {
    opacity: 0.01;
    transform: translateX(-100%);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 300ms ease-in;
}

.page-exit {
    opacity: 1;
    transform: translateX(0%);
}

.page-exit-active {
    opacity: 0.01;
    transform: translateX(100%);
    transition: all 300ms ease-out;
}